<h2>Bons étudiants - Note A</h2>



<table mat-table [dataSource]="getBons()">
	<ng-container matColumnDef="prenom">
  <th mat-header-cell *matHeaderCellDef> Prénom </th>
  <td mat-cell *matCellDef="let pers"> {{ pers.prenom }} </td>
</ng-container>

<ng-container matColumnDef="nom">
  <th mat-header-cell *matHeaderCellDef> Nom </th>
  <td mat-cell *matCellDef="let pers"> {{ pers.nom }} </td>
</ng-container>

<ng-container matColumnDef="note">
  <th mat-header-cell *matHeaderCellDef> Note </th>
  <td mat-cell *matCellDef="let pers"> {{ pers.note }} </td>
</ng-container>

<tr mat-header-row *matHeaderRowDef="columnsToDisplay"> </tr>
<tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"> </tr>
</table>
